.listTitle{
    font-style: normal;
font-weight: 800;
font-size: 32px;
color: var(--color1);
margin-top: 120px;
}
.btn {
    margin-top:20px ;
    width: 160px;
    height: 42px;
    border-radius: 8px;
    background-color: var(--color1);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #231f20;
  }