body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #E5E5E5; */
}
:root{
  --color1:#f7d22d;
}
button{
  font-family: inherit;
  border: 0;
  cursor: pointer;
  background: none;
}
code {
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.boy{
  position: absolute;
  width: 238.27px;
  height: 364.1px;
  left: -45px;
  top: 400px;
}
.pizza{
  position: absolute;
  right: -1px;
}
@media (max-width:768px){
  .boy{
    position: absolute;
  width: 147px;
  height: 124px;
  top: 237px;
  }
  
}
