.main{
    display: grid;
    grid-template-columns: repeat(auto-fill,285px);
    justify-content: start;
    grid-gap: 20px;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fill,260px);
    justify-content: start;
    column-gap: 58px;
    row-gap: 70px;
    position: relative;
}
.listTitle{
    font-style: normal;
font-weight: 800;
font-size: 32px;
color: var(--color1);
margin-top: 120px;
}
.btn{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.stocks{
    text-align: center;
}
@media(max-width:1025px){
    .main{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}